.heading{
    font-size: 20px;
    color: brown;
    margin: 0;
    width: 100%;
    box-shadow: 5px 5px 5px green;
    font-family: 'Dancing Script', cursive;
}
.note{
    color:aqua;
    font-family: 'Moon Dance', cursive;
    font-size: 15px;
}

.footer{
    position: fixed;
    bottom: 0;
    background-color: olive;
    color: yellow;
    width: 100%;
    text-align: center;
    line-height: 2;
    font-family: 'Shadows Into Light', cursive;}
canvas{
    border: 5px solid greenyellow;
    border-radius: 50px;
    box-shadow: 6px 6px 6px red;
    margin-top: 2px;
    
}